{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block active_diary_list %}active{% endblock %}


{% block contents %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Play
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="My Podcast template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
	<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/episodes.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/episodes_responsive.css' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<style>
		.audio_img {
			object-fit: cover;
			margin: 20px 20px 20px 20px;
			width: 100px;
			height: 100px;
			border-radius: 6px;
		}
		.images {
			width: 80px;
			height: 80px;
			object-fit: cover;
		}
	</style>
</head>

<body>
	<div class="super_container">
		<!-- Home -->
		<div class="home">
			<div class="parallax_background parallax-window" data-parallax="scroll"
				data-image-src="{% static 'images/cover1.jpg' %}" data-speed="0.8"></div>
			<div class="home_container d-flex flex-column align-items-center justify-content-center">
				<div class="home_content">
					<div class="home_title">
						<h1>
							PLAY STATION
						</h1>
					</div>
				</div>
			</div>
		</div>

		<!--================ 再生機能 =================-->
		<section class="blog_area single-post-area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 posts-list">
						<div class="single-post">
							<div class="feature-img">
								<img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
							</div>
							<div class="blog_details">
								<h2>
									{% if object.music_photo %}
									<img class="audio_img" src="{{ object.music_photo.url}}" alt="">
									{% else %}
									<img class="audio_img" src="{% static 'images/no_image2.jpg' %}" alt="">
									{% endif %}
									{{ object.title }}
								</h2>
								<div class="track track_home">
									<audio id="radio" class="audio_song" controls autoplay loop>
										あなたのブラウザーは <code>audio</code>要素をサポートしていません。
										<source src="{{ object.attach1.url }}">
									</audio>
								</div>

								<!-- 「イイネ」 -->
								<ul class="blog-info-link mt-3 mb-4">
									<li>
										<a href="{% url 'kadai_app:mypage' %}">
											<i class="fa fa-plus"></i>
											Add to Playlist
										</a>
									</li>
									<li>
										<a href="{% url 'kadai_app:play_remake' play.pk %}">
											<i class="fa fa-edit"></i>
											Remake
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-share"></i>
											Share
										</a>
									</li>
									<!-- 曲の再生数 -->
									<li>再生数：{{ loadnum }}回</li>

									<!-- 追加 (viewの498行目のclassも追加)-->
									{% if parent_name_ob %}
									<li>親の楽曲：{{ parent_name_ob }}</li>
									{% endif %}


									<li>
										{% if user.is_authenticated %}
										<form action="{% url 'kadai_app:likes_form' play.pk %}" method="post">
											{% csrf_token %}
											<div class="button_like">
												<a href="#">
													<i class="fa fa-heart">
													</i>
													{{ iine_num }}
												</a>
												<button type="submit">Likes</button>
											</div>
										</form>
										{% endif %}
									</li>
								</ul>
							</div>
						</div>

						<!-- お気に入り登録・解除 -->
						<div class="blog-author">
							<div class="media align-items-center">
								<div class="media post_item">
									<div class="media-body">
										<ul class="blog-info-link mt-3 mb-4">
											<img src="{% static 'img/blog/author.png' %}" alt="">
											<p>
												<!-- 投稿者と同一人物じゃない場合 -->
												{% if user.pk != play.user.pk %}
											<form action="{% url 'kadai_app:follow_form' play.user.pk %}" method="post">
												{% csrf_token %}
												<div class="col text-center button_like">
													{% if flg %}
													<i class="fa fa-user-plus"></i>
													<button class="button_fill shows_button" type="submit">
														お気に入り登録
													</button>
													{% else %}
													<i class="fa fa-user-plus"></i>
													<button class="button_fill shows_button" type="submit">
														お気に入り解除
													</button>
													{% endif %}
												</div>
											</form>
											{% endif %}
											</a>
											</p>
										</ul>
									</div>
								</div>

								<!-- 概要欄 -->
								<div class="media-body">
									{% if user.pk != play.user.pk %}
									<a href="{% url 'kadai_app:userpage' play.user.pk %}">
										<h3>
											この曲は、 {{ play.user }} さんが投稿しました！
										</h3>
									</a>
									{% else %}
									<!-- ログインユーザーと同じだった場合マイページへ -->
									<a href="{% url 'kadai_app:mypage' %}">
										<h3>
											{{ user }}
										</h3>
									</a>
									{% endif %}
									<p>{{ object.about_song }}
									</p>
								</div>

								{% if user == object.user %}
								<a class="btn btn-success mt-5 mb-3" href="{% url 'kadai_app:play_update' object.pk %}">
									Adjust
								</a>
								<a class="btn btn-danger mt-5 ml-2 mb-3"
									href="{% url 'kadai_app:play_delete' object.pk %}">
									Delete
								</a>
								{% endif %}
							</div>
						</div>

						<!-- コメント機能 -->
						<div class="comments-area">
							<div class="comment-form">
								<h4>
									Leave a Comment
								</h4>
								<form action="{% url 'kadai_app:comment_create' play.pk %}" method="post">
									{% csrf_token %}
									{{ comment_form}}
									<div class="form-group">
										<button type="submit" class="button button-contactForm btn_1 boxed-btn">
											Send
										</button>
									</div>
								</form>
							</div>

							<h4>
								000 Comments
							</h4>
							{% for comment in play.comment_set.all %}
							<div class="comment-list">
								<div class="single-comment justify-content-between d-flex">
									<div class="user justify-content-between d-flex">
										<div class="thumb">
											<img src="{% static 'img/comment/comment_1.png' %}" alt="">
										</div>
										<div class="desc">
											<h5>
												<!-- 投稿者が本人じゃない場合は、ユーザーページへ -->
												{% if user.pk != user.pk %}
												<a href="{% url 'kadai_app:userpage' user.pk %}">
													{{ user }}
												</a>
												<!-- 投稿者が本人の場合は、マイページへ -->
												{% else %}
												<a href="{% url 'kadai_app:mypage' %}">
													{{ user }}
												</a>
												{% endif %}
											</h5>
											<p class="comment">
												{{ comment.text }}
											</p>
											<div class="d-flex justify-content-between">
												<div class="d-flex align-items-center">
													<p class="date">
														December 4, 2017 at 3:12 pm
													</p>
												</div>
												<div class="reply-btn">
													<a href="#" class="btn-reply text-uppercase">
														reply
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<!--tag-->
					<div class="col-lg-4">
						<div class="blog_right_sidebar">

							<aside class="single_sidebar_widget tag_cloud_widget">
								<h4 class="widget_title">Tag</h4>
								<ul class="list">
									<li><a href="#">Kpop</a></li>
									<li><a href="#">love</a></li>
									<li><a href="#">travel</a></li>
								</ul>
							</aside>

							<!-- 追加 (327行目まで)-->
							<aside class="single_sidebar_widget popular_post_widget">
								<h3 class="widget_title">Remake song</h3>
								{% if child_name_ob %}
								{% for item in child_name_ob %}
								<div class="media post_item">
									{% if item.child_play.music_photo %}
									<img class="images" src="{{ item.child_play.music_photo.url }}" alt="post">
									{% else %}
									<img class="images" src="{% static 'images/no_image2.jpg' %}" alt="post">
									{% endif %}
									<div class="media-body">
										<a href="{% url 'kadai_app:play_detail' item.child_play.pk %}">
											<h3>{{ item }}</h3>
										</a>
										<p>{{ item.child_play.user }}</p>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							</aside>

							<aside class="single_sidebar_widget popular_post_widget">
								<h3 class="widget_title">Former song</h3>
								{% if parent_name_ob %}
								<div class="media post_item">
									{% if parent_name_ob.music_photo %}
									<img class="images" src="{{ parent_name_ob.music_photo.url }}" alt="post">
									{% else %}
									<img class="images" src="{% static 'images/no_image2.jpg' %}" alt="post">
									{% endif %}
									<div class="media-body">
										<a href="{% url 'kadai_app:play_detail' parent_name_ob.pk %}">
											<h3>{{ parent_name_ob }}</h3>
										</a>
										<p>{{ parent_name_ob.user }}</p>
									</div>
								</div>
								{% endif %}
							</aside>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ Blog Area end =================-->
	</div>

	<!-- JS here -->
	<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.' %}js"></script>
	<script src="{% static 'js/ajax-form.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'js/scrollIt.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/gijgo.min.js' %}"></script>

	<!-- <script type="text/javascript">
		var idradio = document.getElementById('radio');
		idradio.addEventListener('ended', function () {
			var radionum = document.getElementById('loadednum');
			radionum.value +=1;
		});
	</script> -->

	<!--contact js-->
	<script>
		$('#datepicker').datepicker({
			iconsLibrary: 'fontawesome',
			icons: {
				rightIcon: '<span class="fa fa-caret-down"></span>'
			}
		});
		$('#datepicker2').datepicker({
			iconsLibrary: 'fontawesome',
			icons: {
				rightIcon: '<span class="fa fa-caret-down"></span>'
			}

		});
	</script>
</body>

</html>
{% endblock %}